/* application css */
#main {}
.header{background-color: #d0d0d0;margin-left: -18px;margin-right: -18px;}
.hl {color:red;}
.row {margin-left: 5px; margin-right: -10px; margin-bottom: 0px; width:99.9%;}
.col-md-4{border-right:#d0d0d0 5px solid;}

/*center tab*/
.nav-tabs > li, .nav-pills > li {float:none; display:inline-block;}
.nav-tabs {text-align:center;}

.controlbar {position: absolute;top: 0;left: 0;right: 10px;z-index: 999;width: 97%;height: 100px;background-color: rgba(255,255,255,0.9);color: #178918;}
.showtext {padding-top:100px;font-size:150%;}

/*stacktoc*/
.stacktoc {font-size:125%;}
.stacktoc a {color:black;text-align:left;}
.stacktoc a.hitbadge {color:white;}

.tocitem {text-decoration: none;cursor:pointer;font-size:100%}
.tocitem:hover {background:#D8F6CE;}
a.tocitem {padding-right:6px ;padding-left:6px;}
.expandable:before {content: url("banner/plus.png")}
div.current {color:black; background:#D8F6CE;border-bottom-right-radius:10px 10px;}
div.current:hover {background:#D8F6CE;}
div.current span.text:hover{text-decoration:underline;cursor:pointer;}
div.current {color:black; background:white ;border-bottom-right-radius:10px 10px;}
div.current:hover {background:#D8F6CE;}
/*stacktoc*/

.showtext a {color: #178918; cursor: pointer;}

.pbImg {width: 0%; opacity: 0; transition: width 0.5s;}
.pbImg.opened {width: 100%; opacity:1; }